
.top{
     width: 100%;
     height: 50px ;
     background-color: #1e8d66;
     position: sticky;
     top: 0;
     display: flex;
     align-items: center;
     /* color: #8bd8bd; */
     color: #fff;
}

.topLeft,  .topRight{
     flex: 3;
     display: flex;
     align-items: center;
     justify-content: center;
     

}

.topImg{
     width: 200px;
     height: auto;
     object-fit: cover;
   
     
}

.topCenter{
     flex: 6;
}

.topListItem{
     margin-right: 22px;
     cursor: pointer;

}

.topList{
     display: flex;
     justify-content: center;
     margin: 0;
     padding: 0;
     list-style: none;
}



.topIcon{
     font-size: 20px;
     /* margin-right: 10px; */
     margin-right:10px;
     color: #fff;
     cursor: pointer;
}

.searchIcon{
     font-size: 18px;
     color: #243665;
     cursor: pointer;
     margin-left: 20px;
}


 /* a{
     text-decoration: none;
     color: #fff;

}  */

/* .active-link{
     color: crimson;
} */

.Nav_link:link {
     /* color: chocolate; */
     font-size: 1rem;
     line-height: 1.6rem;
     text-decoration: none;
   }
   .Nav_link:visited {
     color: #fff;
   }
   .Nav_link:hover {
     color: rgb(187, 197, 195);
   }
   .Nav_link:active {
     color:crimson;
   }
   
   .activeRoute {
     background-color: yellow;
     border-bottom: 0.4rem solid teal;
     cursor: not-allowed;
   }
a{
     text-decoration: none;
     color: #fff;
}
