
.top{
     width: 100%;
     height: 50px ;
     background-color: #1e8d66;
     position: sticky;
     top: 0;
     display: flex;
     align-items: center;
     /* color: #8bd8bd; */
     color: #fff;
}

.topLeft,  .topRight{
     flex: 3;
     display: flex;
     align-items: center;
     justify-content: center;
     

}

.topImg{
     width: 200px;
     height: auto;
     object-fit: cover;
   
     
}

.topCenter{
     flex: 6;
}

.topListItem{
     margin-right: 22px;
     cursor: pointer;

}

.topList{
     display: flex;
     justify-content: center;
     margin: 0;
     padding: 0;
     list-style: none;
}



.topIcon{
     font-size: 20px;
     /* margin-right: 10px; */
     margin-right:10px;
     color: #fff;
     cursor: pointer;
}

.searchIcon{
     font-size: 18px;
     color: #243665;
     cursor: pointer;
     margin-left: 20px;
}